<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component service="RecruitmentTask.Services.Interfaces.IHomeService, RecruitmentTask"
               type="RecruitmentTask.Services.HomeService, RecruitmentTask"
               lifestyle="Singleton"
               id="HomeService">
    </component>
    <component service="RecruitmentTask.Repository.Interfaces.IHomeRepository, RecruitmentTask"
               type="RecruitmentTask.Repository.HomeRepository, RecruitmentTask"
               lifestyle="Singleton"
               id="HomeRepository">
    </component>
  </components>
</configuration>