@model IList<RecruitmentTask.ViewModels.ReportViewModelResponse>
@{
    Layout = "~/Views/Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            @{ Html.RenderPartial("Menu"); }
        </div>
        <div id="reports-content" class="col-sm-10">
            @{ Html.RenderAction("GetReports"); }
        </div>
    </div>
</div>