@using (Ajax.BeginForm("GetFilteredRecords", "Home", null,
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "raports-content"
        }, new { id = "filter-form" }))

{
    <label for="premises">Lokal:</label>
    <input type="text" class="form-control" id="premises" name="premises">

    @*<label id="search-text-label" for="search-text" class="reader">Enter some text to search on:</label>
    <input type="text" id="search-text" name="query" required maxlength="25" placeholder="search phrase..." />*@
    <input class="btn btn-success" type="submit" id="search-button" value="Szukaj" />
}

